.MuiDataGrid-row.Mui-selected {
  background-color: #60c2a9 !important;
  color: #0a0c11 !important;
}

.MuiDataGrid-row:hover {
  background-color: #60c2a9 !important;
  color: #0a0c11 !important;
}

.MuiDataGrid-cell:focus {
  outline: none !important;
}

.MuiDataGrid-colCell:focus {
  outline: none !important;
}
