html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #1e2430;
  overflow: auto;
}

/*@font-face {
  font-family: "BMEULJIRO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}*/

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SDSamliphopangche_Outline";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "LAB디지털";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/LAB디지털.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
  width: 1.5rem;
  border-radius: 1rem;
  background-clip: padding-box;
  border: 0.5rem solid transparent;
  background-color: transparent;
  //color: rgba(255, 255, 255, 0.3);
  margin: 0;
}
body::-webkit-scrollbar-thumb {
  color: rgba(255, 255, 255, 0.3);
}
*::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 0 10px;
}
